@model IEnumerable< Microsoft.AspNetCore.Http.IFormFile>

<script>
    function uploadFiles(inputId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();

        var model = JSON.parse("@Html.Raw(Json.Serialize(Model))");
        for (var file of model) {
            formData.append('OldFiles', file);
        }

        console.log(JSON.stringify(model));

        for (var i = 0; i != files.length; i++) {
            formData.append('NewFiles', files[i]);
        }

        console.log(...formData);

        $.ajax({
            type: "POST",
            url: "@Url.Action("AddFiles")",
            contentType: false,
            data: formData,
            processData: false,
            success: function (response) {
                $("#partial").html(response);
            }
        });
    }
</script>

<div id="partial">
    @foreach (var file in Model) {
        <div>
            @file.FileName
            @Html.ActionLink("Remove", "Remove")
        </div>
    }
    <div>
        <input id="files" type="file" multiple onchange="uploadFiles('files')" />
    </div>
</div>

