@model ScrumBoardWebMVC.Models.ToDoViewModel
@using ScrumBoard.Models;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ToDo</h4>
<hr />
<div class="row">
    <form asp-action="Create" class="w-100 d-inline-flex">
        <div class="col md-4 w-50">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" asp-items="Html.GetEnumSelectList<State>()" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col md-4 w-50">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.ContactType" class="control-label"></label>
                <select asp-for="Contact.ContactType" asp-items="Html.GetEnumSelectList<ContactType>()" class="form-control"></select>
                <span asp-validation-for="Contact.ContactType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Person" class="control-label"></label>
                <input asp-for="Contact.Person" class="form-control" />
                <span asp-validation-for="Contact.Person" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Note" class="control-label"></label>
                @Html.TextAreaFor(model => model.Contact.Note, new { @class = "form-control" })
                <span asp-validation-for="Contact.Note" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
