@model ScrumBoardWebMVC.Models.ToDoViewModel
@using ScrumBoard.Models;

@{
    ViewData["Title"] = "Edit";
}

<script>
    var ID = () => '_' + Math.random().toString(36).substr(2, 9);

    function uploadFile() {
        const lastChild = $("#fileList input:last-child")
        lastChild.css({ display: "none" });
        $("#fileList").append(`<input id="${ID()}" name="Files" type="file" onchange="uploadFile()"/>`);
        $("#fileDisplayList").append($(`<div class="d-inline-flex w-100"><p class='mr-2'>${document.getElementById(lastChild.attr('id')).files[0].name}</p>@Html.ActionLink("Remove", "Remove")</div>`))
    }
</script>

<h1>Edit</h1>

<h4>ToDo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" asp-items="Html.GetEnumSelectList<State>()" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div id="fileDisplayList" class="d-block">

            </div>
            <div id="fileList">
                <input id="firstfile" name="Files" type="file" onchange="uploadFile()"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}